page-home {
	.bg{
		 background: url('../assets/img/bg.png') no-repeat;
		 background-color: #0F0101;
	}
	.caps {
		text-transform: capitalize;
		text-align: center;
	}
	.head {
		font-size: 2em;
		background-color: #903219;
	}
}
